@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
*{
    margin: 0 auto;
    padding: 0 auto;
}

a{
    color: rgb(21, 184, 21);
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
}

main h3{
    font-family: 'Hind Siliguri', sans-serif;
}

.infos{
    border: 1px solid #000;
    border-radius: 20px;
    height: 400px;
    width: 250px;
    background-color: rgb(241, 235, 235);
    box-shadow: 0 0 15px #55b85a;
}

.infos h3,p{
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 2%;
    text-align: center;
    column-gap: 20px;
}

.opcoes{
    text-align: center;
}